<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id="dmds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="system"/>
		<property name="password" value="Admin"/>
	</bean>

	<!-- DAO class cfgs -->
	<bean id="empDao" class="com.nt.dao.EmployeeDAOImpl">
		<constructor-arg ref="dmds"/>
	</bean>
	
	<!-- Service class cfs -->
	<bean id="empService" class="com.nt.service.EmployeeMgmtServiceImpl">
		<constructor-arg ref="empDao"/>
	</bean>
	
	<!-- controller class cfgs -->
	<bean id="controller" class="com.nt.controller.MainController">
		<constructor-arg ref="empService"/>
	</bean>
</beans>
